// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.table {
    width: 200px;
    text-align: center;
}

#cashOut{
    position: relative;
}

.changed_ele{
    color: #000000;
}

.normal_ele{
    color: #6d6d6d;
}